body{
    background-color:#eff6ff; 
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    margin: 30px;
} 
.container {background-color: white;
margin: 80px;}
.card {width: auto;
margin: 50px;
padding: 100px;}
.btn {background-color: blue;
font-size: 16px;
color: #eff6ff;
margin: 15px;
padding: 15px;
margin-left: 30px;
}
h1,h3{
    font-size: 24px;
    margin: 30px ;
    padding: 10px;
    margin-left: 850px; 
} 
.intro{
    font-size: 20px;
    padding-left: 1200px ;
}
h2{font-size: 24px;
    margin: 30px ;
    padding: 10px;
    margin-left: 890px; }
.svg {width: 200px;
      margin: 0 auto;}
.mail { margin: 15px ;
    padding: 15px ;
margin-left: 30px;}
.btn2 {width: 280px;
    font-size: 16px;
    margin: 30px 30px;
    padding: 15px 15px;
margin-left: 50px;
background-color: rgba(92, 179, 255, 0.671)
;} 
.intro {margin: 15px 10px;
    padding: 15px 15px;
margin-left: 770px;}
.t1{
    font-size: 16px;
    margin: 0 auto;
    padding: 15px 15px;
margin-left: 50px;}
.checkbox {width: 40px;
    font-size: 16px;
    margin: 0 auto;
    padding: 15px 15px;
margin-left: 50px;
margin-right: 10px;}


